
@{
    ViewData["Title"] = "Error";
}

<h1>Error</h1>

<div>
    <p>
        <h4>The page could not be found, Possible causes:</h4>
        <ul>
            <li>You have made a typing error in the internet address.</li>
            <li>The website contains a link to a page that no longer exists.</li>
            <li>The link or bookmark that you used is outdated.</li>
        </ul>


        <h4>Try the following:</h4>
        <ul>
            <li>Click on the "Refresh" button at the top of your browser.</li>
            <li>Re-enter the address</li>
            <li>Go to the homepage to search for the information from there.</li>
            <li>Click on the "Back" button at the top of your browser to return to the page you came from.</li>
        </ul>
    </p>
</div>
