@model ASPNETCinema.Models.ScreeningModel

@{
    ViewData["Title"] = "AddScreening";
}

<h2>AddScreening</h2>

<h4>ScreeningModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddScreening">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="MovieId" class="control-label"></label>
                <input asp-for="MovieId" class="form-control" />
                <span asp-validation-for="MovieId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HallId" class="control-label"></label>
                <input asp-for="HallId" class="form-control" />
                <span asp-validation-for="HallId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TimeAndDayOfScreening" class="control-label"></label>
                <input asp-for="TimeAndDayOfScreening" class="form-control" />
                <span asp-validation-for="TimeAndDayOfScreening" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
            

        </form>
    </div>
</div>

<div>
    <a asp-action="ListScreenings">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
