@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>
<div>
    <p>
        The page could not be found.

        Mogelijke oorzaken:
        <ul>
            <li>You have made a typing error in the internet address.</li>
            <li>The website contains a link to a page that no longer exists.</li>
            <li>The link or bookmark that you used is outdated.</li>
        </ul>


        Probeer het volgende:
        <ul>
            <li>Click on the "Refresh" button at the top of your browser.</li>
            <li>Re-enter the address</li>
            <li>Go to the homepage to search for the information from there.</li>
            <li>Click on the "Back" button at the top of your browser to return to the page you came from.</li>
        </ul>
    </p>
</div>

@if (Model.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}
    

<h3>Development Mode</h3>
<p>
    Swapping to <strong>Development</strong> environment will display more detailed information about the error that occurred.
</p>
<p>
    <strong>Development environment should not be enabled in deployed applications</strong>, as it can result in sensitive information from exceptions being displayed to end users. For local debugging, development environment can be enabled by setting the <strong>ASPNETCORE_ENVIRONMENT</strong> environment variable to <strong>Development</strong>, and restarting the application.
</p>
